/*
* * Created by Matthew Ainge on 13/08/2019
*/

html {
    background-color: #ddd ;
    font-family: 'Roboto', sans-serif;
}

dl{

}

dt{
    font-weight: bold;
    margin-top: 1em ;
}

dd{
    margin-left: 0.25em ;
    color: #222 ;
}

figcaption{
    font-weight: bolder;
    font-size: 1.25em;
    text-align: center ;
}

figure {
    zoom: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.fade{
    transition: opacity 0.3s ease-out ;
}

form p {
    font-size: 0.8em ;
}

form input {
    max-width: 25vw ;
}
#window {
    display: none;

    position: fixed;
    left: 50%;
    top: 2em ;
    transform: translate(-50%, 0);

    max-height: calc( 100vh - 5em );

    background-color: #fff ;
    border: 1px solid #ccc ;
    padding: 0.5em ;

    overflow: auto;
    opacity: 0 ;

    z-index: 10 ;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;

    box-shadow: 0.2em 0.2em 0.5em 0.1em #333 ;
}

#lightbox {
    background-color: rgba( 0,0,0,0.3 ) ;
    width: 100vw;
    height: 100vh;
    position: fixed ;
    top:0;
    left:0;
    display: none ;
    opacity: 0 ;
    z-index: 5;
}


#window.show, #lightbox.show {
    display: block;
    opacity: 1 ;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}

#gallery > a {
    cursor: pointer;
}
#gallery .entry {
    flex: 0 1 10em;
    background-color: #fff;
    margin: 1em;
    padding:1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

#gallery .entry * {
    display:block;
    margin:auto;
    text-align: center;
}

.nav {
    display: flex ;
    flex-wrap: nowrap;
    flex: 1 0 100%;
    justify-content: center ;
    align-items: stretch ;
    align-content: center ;
}
.nav > * {
    margin: 0.2em ;
    padding: 0.25em ;
    font-size: 1.2em ;
    line-height: 1 ;
    cursor: pointer;
    display: block;
    text-align: center;
    flex: 1 1 2em ;
    border: 2px solid #eee ;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: #eee ;
    color: #444 ;

    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.nav > *:hover {
    background-color: #fff ;
    color: #f00 ;
}
